{% load staticfiles %}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Organizovanje dogadjaja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Register as a customer"/>
    <meta name="keywords" content="Create a new customer account"/>
    <meta name="author" content="MAXO"/>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
</head>
<body onload="Gasi()">

<div class="container">

</div>
<div class="row">
    <div class="col-md-4 col-md-offset-4">


        <div id="licni">
        <form method="post" class="fh5co-form animate-box" data-animate-effect="fadeIn">
            {% csrf_token %}
            <h2>Organizovanje dogadjaja <small><a href="{% url 'korisnici:clanInfo' %}">Vrati se na profil</a></small></h2>

            <div class="form-group">
                <p>Naziv dogadjaja</p>
                {{ cl_form.naziv }}
            </div>
            <div class="form-group">
                <p>Sport</p>
                {{ cl_form.sport }}
            </div>


            <div class="form-group">
                <p>Grad odrzavanja dogadjaja</p>
                {{ cl_form.grad }}
            </div>

            <div class="form-group">
                <p>Mesto na kojem se dogadjaj odrzava</p>
                {{ cl_form.mesto }}
            </div>

            <div class="form-group">
                <p>Koliko novca je potrebno za ucesce</p>
                {{ cl_form.novac_za_prijavu }}
            </div>



            <div class="form-group">
                <p>Hoce li biti nagrada</p>
                {{ cl_form.novcana_nagrada }}
            </div>


            <div class="form-group">
                <p>Opis</p>
                {{ cl_form.opis }}
            </div>


            <div class="form-group">
                <p>Kada ce dogadjaj biti odrzan</p>
                {{ cl_form.datum_odrzavanja }}
            </div>

            <div class="form-group">
                <p>Broj potrebnih igraca</p>
                {{ cl_form.potrebno_igraca }}
            </div>



            <div class="form-group">
                <input type="submit" value="Organizuj dogadjaj" class="btn btn-primary">
            </div>
        </form>
        </div>









    </div>
</div>
    <!-- jQuery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Placeholder -->
    <script src="{% static 'js/jquery.placeholder.min.js' %}"></script>
    <!-- Waypoints -->
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- Main JS -->
    <script src="{% static 'js/main.js' %}"></script>

<!-- NAMESTANJE PODATAKA -->
<script>
            $("#id_novac_za_prijavu").addClass('form-control');
            $("#id_novac_za_prijavu").attr('step','100');
            $("#id_novac_za_prijavu").attr('value','0');
            $("#id_novac_za_prijavu").addClass('form-control');
            $("#id_potrebno_igraca").addClass('form-control');
            $("#id_potrebno_igraca").attr('value','1');
            $("#id_potrebno_igraca").attr('min','1');

    </script>
<script>
    var danas = new Date().toISOString().split('T')[0];
document.getElementsByName("datum_odrzavanja")[0].setAttribute('min', danas);

</script>

</body>
</html>

